In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
import re
%matplotlib inline

%load_ext sql

%sql postgresql://borisbastian:borisbastian@localhost:5432/labdb3

'Connected: borisbastian@labdb3'

### Connect barcodes to sample libary

In [27]:
%%sql
SELECT n.old_na_id, b.old_block_id, a.area_type, b.pat_id, n.na_type, n.sl_id, n.amount From Blocks as b
JOIN areas as a on a.block=b.bl_id
JOIN nuc_acids as n on n.area=a.ar_id
where b.project ILIKE('Melanoma Epigenetics') AND n.na_type='DNA';

 * postgresql://borisbastian:***@localhost:5432/labdb3
74 rows affected.

[('DNA-01', '16-109659 A4', 'Normal', 'ME-01', 'DNA', 'DLP-001', 51.8),
 ('DNA-02', '16-109659 A4', 'Nevus', 'ME-01', 'DNA', 'DLP-02', 374.4),
 ('DNA-03', '16-109659 A4', 'Mel', 'ME-01', 'DNA', 'DLP-03', 887.0),
 ('DNA-04', '16-84820', 'Normal', 'ME-02', 'DNA', 'DLP-04', 18.7),
 ('DNA-05', '16-84820', 'Nevus', 'ME-02', 'DNA', 'DLP-05', 59.8),
 ('DNA-06', '16-84820', 'Mel', 'ME-02', 'DNA', 'DLP-06', 336.0),
 ('DNA-07', '17-26457', 'Normal', 'ME-03', 'DNA', 'DLP-07', 15.6),
 ('DNA-08', '17-26457', 'Nevus', 'ME-03', 'DNA', 'DLP-08', 23.2),
 ('DNA-09', '17-26457', 'Mel', 'ME-03', 'DNA', 'DLP-09', 21.7),
 ('DNA-10', '16-106975', 'Normal', 'ME-04', 'DNA', 'DLP-10', 0.0),
 ('DNA-11', '16-106975', 'Nevus', 'ME-04', 'DNA', 'DLP-011', 92.2),
 ('DNA-12', '16-106975', 'Mel', 'ME-04', 'DNA', 'DLP-012', 313.9),
 ('DNA-15', '17-88262', 'Nevus', 'ME-06', 'DNA', 'DLP-15', 26.0),
 ('DNA-16', '17-88262', 'Mel', 'ME-06', 'DNA', 'DLP-16', 31.3),
 ('DNA-17', '16-107007', 'Nevus', 'ME-07', 'DNA', 'DLP-017', 213.6),
 ('DNA-18', '16-107007', 'Mel', 'ME-07', 'DNA', 'DLP-018', 916.8),
 ('DNA-19', '16-88453A', 'Nevus', 'ME-08', 'DNA', 'DLP-019', 87.8),
 ('DNA-20', '16-88453A', 'Mel', 'ME-08', 'DNA', 'DLP-20', 0.0),
 ('DNA-21', '16-110683', 'Nevus', 'ME-09', 'DNA', 'DLP-021', 94.6),
 ('DNA-22', '16-110683', 'Mel', 'ME-09', 'DNA', 'DLP-022', 532.8),
 ('DNA-23', '17-68446', 'Normal', 'ME-10', 'DNA', 'DLP-23', 41.3),
 ('DNA-24', '17-68446', 'Mel', 'ME-10', 'DNA', 'DLP-24', 68.2),
 ('DNA-25', '16-107007', 'Normal', 'ME-07', 'DNA', 'DLP-025', 65.6),
 ('DNA-26', '17-33401C', 'Normal', 'ME-12', 'DNA', 'DLP-026', 194.7),
 ('DNA-27', '17-33401C', 'MIS', 'ME-12', 'DNA', 'DLP-027', 229.2),
 ('DNA-28', '17-33401C', 'Mel', 'ME-12', 'DNA', 'DLP-028', 1997.5),
 ('DNA-29', '17-130286', 'Normal', 'ME-13', 'DNA', 'DLP-029', 304.9),
 ('DNA-30', '17-130286', 'Nevus', 'ME-13', 'DNA', 'DLP-030', 122.4),
 ('DNA-31', '17-130286', 'Mel', 'ME-13', 'DNA', 'DLP-031', 590.4),
 ('DNA-38', '16-101803B', 'Normal', 'ME-17', 'DNA', None, 16.8),
 ('DNA-41', '17-13334', 'MIS', 'ME-24', 'DNA', 'DLP-041', 367.8),
 ('DNA-43', '16-103071', 'Mel', 'ME-18', 'DNA', 'DLP-043', 92.2),
 ('DNA-44', '16-103071', 'Nevus', 'ME-18', 'DNA', 'DLP-044', 99.8),
 ('DNA-45', '17-82793A', 'Mel', 'ME-19', 'DNA', 'DLP-045', 258.7),
 ('DNA-46', '17-82793A', 'Nevus', 'ME-19', 'DNA', 'DLP-046', 123.4),
 ('DNA-47', '17-61108', 'Mel', 'ME-27', 'DNA', 'DLP-047', 198.7),
 ('DNA-48', '17-61108', 'Nevus', 'ME-27', 'DNA', 'DLP-048', 17.3),
 ('DNA-49', '17-61310', 'Mel', 'ME-20', 'DNA', 'DLP-049', 696.0),
 ('DNA-50', '17-61310', 'Nevus', 'ME-20', 'DNA', 'DLP-050', 115.2),
 ('DNA-52', '17-31440', 'Nevus', 'ME-25', 'DNA', 'DLP-052', 96.5),
 ('DNA-53', '17-36409', 'Mel', 'ME-26', 'DNA', 'DLP-053', 438.2),
 ('DNA-54', '17-36409', 'Nevus', 'ME-26', 'DNA', 'DLP-054', 78.7),
 ('DNA-55', '17-56506', 'Mel', 'ME-21', 'DNA', 'DLP-055', 686.4),
 ('DNA-56', '17-56506', 'Nevus', 'ME-21', 'DNA', 'DLP-056', 945.6),
 ('DNA-59', '17-55182D', 'Mel', 'ME-11', 'DNA', 'DLP-059', 109.9),
 ('DNA-61', '17-43707', 'Mel', 'ME-22', 'DNA', 'DLP-061', 184.3),
 ('DNA-62', '17-43707', 'Nevus', 'ME-22', 'DNA', 'DLP-062', 74.9),
 ('DNA-65', '17-32863B', 'Mel', 'ME-23', 'DNA', 'DLP-065', 239.0),
 ('DNA-68', '17-61108', 'Normal', 'ME-27', 'DNA', 'DLP-068', 0.0),
 ('DNA-69', '17-61310', 'Normal', 'ME-20', 'DNA', 'DLP-069', 160.0),
 ('DNA-70', '17-31440', 'Normal', 'ME-25', 'DNA', 'DLP-070', 50.1),
 ('DNA-71', '17-36409', 'Normal', 'ME-26', 'DNA', 'DLP-071', 73.8),
 ('DNA-72', '17-32863B', 'Normal', 'ME-23', 'DNA', 'DLP-072', 33.4),
 ('DNA-73', '17-43707', 'Normal', 'ME-22', 'DNA', 'DLP-073', 49.4),
 ('DNA-74', '17-68446', 'Nevus', 'ME-10', 'DNA', None, 13.4),
 ('DNA-75', '17-13334', 'Nevus', 'ME-24', 'DNA', 'DLP-75', 36.7),
 ('DNA-76', '17-31440', 'Mel', 'ME-25', 'DNA', 'DLP-76', 37.8),
 ('DNA-79', '17-43712', 'Nevus', 'ME-28', 'DNA', 'DLP-79', 45.9),
 ('DNA-80', '17-43712', 'Mel', 'ME-28', 'DNA', 'DLP-80', 75.4),
 ('DNA-81', '17-32863B', 'Nevus', 'ME-23', 'DNA', 'DLP-81', 36.2),
 ('DNA-82', '17-55182D', 'Nevus', 'ME-11', 'DNA', None, 25.0),
 ('DNA-83', '16-88453A', 'Normal', 'ME-08', 'DNA', 'DLP-83', 13.6),
 ('DNA-85', '16-88453A', 'MIS', 'ME-08', 'DNA', 'DLP-85', 117.1),
 ('DNA-86', '17-32863B', 'MIS1', 'ME-23', 'DNA', 'DLP-86', 183.4),
 ('DNA-87', '17-88262', 'Normal', 'ME-06', 'DNA', 'DLP-87', 15.6),
 ('DNA-88', 'T19-2710', None, 'ME-35', 'DNA', 'DLP-88', 782.4),
 ('DNA-89', 'T19-4879', None, 'ME-30', 'DNA', 'DLP-89', 444.0),
 ('DNA-90', 'T19-2118', None, 'ME-31', 'DNA', 'DLP-90', 576.0),
 ('DNA-91', 'T19-488', None, 'ME-32', 'DNA', 'DLP-91', 108.0),
 ('DNA-92', 'T16-1675', None, 'ME-33', 'DNA', 'DLP-92', 70.6),
 ('DNA-93', 'T19-596B', None, 'ME-34', 'DNA', 'DLP-93', 69.6),
 ('DNA-94', '17-125030', 'Mel', 'ME-29', 'DNA', 'DLP-94', 12624.0),
 ('DNA-95', '17-125030', 'Nevus', 'ME-29', 'DNA', 'DLP-95', 988.8),
 ('DNA-96', '17-125030', 'Normal', 'ME-29', 'DNA', 'DLP-96', 1996.8)]

In [28]:
%%sql
SELECT n.old_na_id, b.old_block_id, a.area_type, b.pat_id, n.na_type, n.sl_id, n.amount From Blocks as b
JOIN areas as a on a.block=b.bl_id
JOIN nuc_acids as n on n.area=a.ar_id
where b.project ILIKE('Acral Melanoma')
;

 * postgresql://borisbastian:***@localhost:5432/labdb3
219 rows affected.

[('AM2 D-01', '501950_A3\n', 'Normal', 'AM2-027', 'DNA', None, 35.0),
 ('AM2 D-02', '501950_A3\n', 'MIS1', 'AM2-027', 'DNA', None, 10.6),
 ('AM2 D-03', '501950_A3\n', 'Mel1', 'AM2-027', 'DNA', 'AMLP-144', 68.5),
 ('AM2 D-04', '610186_A', 'Normal', 'AM2-029', 'DNA', None, 0.0),
 ('AM2 D-05', '610186_A', 'Nevus', 'AM2-029', 'DNA', None, 0.0),
 ('AM2 D-06', '610186_A', 'MIS1', 'AM2-029', 'DNA', None, 0.0),
 ('AM2 D-07', '610186_A', 'MIS2', 'AM2-029', 'DNA', None, 0.0),
 ('AM2 D-08', '610186_A', 'MIS3', 'AM2-029', 'DNA', None, 0.0),
 ('AM2 D-09', '610186_A', 'Mel1', 'AM2-029', 'DNA', None, 0.0),
 ('AM2 D-10', '604076', 'Normal', 'AM2-030', 'DNA', None, 0.0),
 ('AM2 D-11', '604076', 'MIS1', 'AM2-030', 'DNA', None, 0.0),
 ('AM2 D-12', '604076', 'MIS2', 'AM2-030', 'DNA', None, 0.0),
 ('AM2 D-13', '604076', 'Mel1', 'AM2-030', 'DNA', None, 0.0),
 ('AM2 D-14', '488836_A', 'Normal', 'AM2-039', 'DNA', None, 8.3),
 ('AM2 D-15', '488836_A', 'MIS1', 'AM2-039', 'DNA', None, 10.3),
 ('AM2 D-16', '488836_A', 'Mel1', 'AM2-039', 'DNA', None, 48.9),
 ('AM2 D-17', 'H16.660\n', 'Normal', 'AM2-042', 'DNA', None, 7.9),
 ('AM2 D-18', 'H16.660\n', 'MIS1', 'AM2-042', 'DNA', None, 4.9),
 ('AM2 D-19', 'H16.660\n', 'Mel1', 'AM2-042', 'DNA', None, 142.2),
 ('AM2 D-20', 'H2007.215/5', 'Normal', 'AM2-045', 'DNA', None, 14.9),
 ('AM2 D-21', 'H2007.215/5', 'MIS1', 'AM2-045', 'DNA', None, 43.5),
 ('AM2 D-22', 'H2007.215/5', 'MIS2', 'AM2-045', 'DNA', None, 28.2),
 ('AM2 D-23', 'H2007.215/5', 'Mel1', 'AM2-045', 'DNA', None, 61.5),
 ('AM2 D-24', 'H2007.358/3', 'Normal', 'AM2-048', 'DNA', None, 120.0),
 ('AM2 D-25', 'H2007.358/3', 'MIS1', 'AM2-048', 'DNA', None, 9.3),
 ('AM2 D-26', 'H2007.358/1', 'MIS2', 'AM2-048', 'DNA', None, 99.9),
 ('AM2 D-27', 'H2007.358/1', 'MIS3', 'AM2-048', 'DNA', None, 256.5),
 ('AM2 D-28', 'H2007.358/1', 'Mel1', 'AM2-048', 'DNA', 'AMLP-145', 270.9),
 ('AM2 D-29', 'H2007.358/1', 'Mel2', 'AM2-048', 'DNA', 'AMLP-146', 416.7),
 ('AM2 D-30', 'K1-D', 'Normal', 'AM2-049', 'DNA', 'AMLP-19_1,AMLP-19_2', 3177.0),
 ('AM2 D-31', 'K1-A', 'MIS1', 'AM2-049', 'DNA', 'AMLP-152', 700.2),
 ('AM2 D-32', 'K1-A', 'MIS2', 'AM2-049', 'DNA', 'AMLP-153', 360.0),
 ('AM2 D-33', 'K1-B', 'Mel1', 'AM2-049', 'DNA', 'AMLP-20_1,AMLP-126,AMLP-154,AMLP-195,AMLP-20_2', 4329.0),
 ('AM2 D-34', 'K2-D', 'Normal', 'AM2-050', 'DNA', 'AMLP-21', 10440.0),
 ('AM2 D-35', 'K2-B', 'MIS1', 'AM2-050', 'DNA', 'AMLP-125,AMLP-129', 549.9),
 ('AM2 D-36', 'K2-B', 'Mel', 'AM2-050', 'DNA', 'AMLP-22_1,AMLP-130,AMLP-22_2', 8568.0),
 ('AM2 D-37', '86502.b', 'Normal', 'AM2-001', 'DNA', 'AMLP-01', 1450.0),
 ('AM2 D-38', '86502.b', 'MIS1', 'AM2-001', 'DNA', 'AMLP-29', 5500.0),
 ('AM2 D-39', '86502.b', 'Mel1', 'AM2-001', 'DNA', 'AMLP-02', 8780.0),
 ('AM2 D-40', '78821-1c', 'Normal', 'AM2-002', 'DNA', 'AMLP-03', 2720.0),
 ('AM2 D-41', '78821-1c', 'MIS1', 'AM2-002', 'DNA', 'AMLP-30', 5400.0),
 ('AM2 D-42', '78821-1c', 'Mel1', 'AM2-002', 'DNA', 'AMLP-04', 2510.0),
 ('AM2 D-43', '534-1-11.2', 'MIS1', 'AM2-004', 'DNA', 'AMLP-32', 1280.0),
 ('AM2 D-44', '534-1-11.2', 'MIS2', 'AM2-004', 'DNA', 'AMLP-33', 1890.0),
 ('AM2 D-45', '534-1-11.2', 'Normal', 'AM2-004', 'DNA', 'AMLP-31', 78.5),
 ('AM2 D-46', '534-1-11.2', 'Mel1', 'AM2-004', 'DNA', 'AMLP-34', 2530.0),
 ('AM2 D-47', '86541-2c', 'Normal', 'AM2-006', 'DNA', 'AMLP-05', 356.0),
 ('AM2 D-48', '86541-1E', 'Mel1', 'AM2-006', 'DNA', 'AMLP-06', 2790.0),
 ('AM2 D-49', '79447-d', 'Normal', 'AM2-007', 'DNA', 'AMLP-07', 424.0),
 ('AM2 D-50', '79447-c', 'MIS1', 'AM2-007', 'DNA', 'AMLP-35', 3110.0),
 ('AM2 D-51', '79447-c', 'Mel1', 'AM2-007', 'DNA', 'AMLP-08', 755.0),
 ('AM2 D-52', '79049-1a\n', 'Normal', 'AM2-008', 'DNA', 'AMLP-09', 142.0),
 ('AM2 D-53', '79049-1c', 'MIS1', 'AM2-008', 'DNA', 'AMLP-36', 1420.0),
 ('AM2 D-54', '79049-1c', 'Mel1', 'AM2-008', 'DNA', 'AMLP-10', 1000.0),
 ('AM2 D-55', '352-1-15.1', 'Normal', 'AMC-12', 'DNA', 'AMLP-148', 128.0),
 ('AM2 D-56', '352-1-15.1', 'MIS', 'AMC-12', 'DNA', 'AMLP-37', 2900.0),
 ('AM2 D-57', '352-1-15.1', 'MIS', 'AMC-12', 'DNA', 'AMLP-38', 2180.0),
 ('AM2 D-58', '352-1-15.1', 'Mel1', 'AMC-12', 'DNA', 'AMLP-39,AMLP-149', 2900.0),
 ('AM2 D-59', '2686-1-13.1', 'Normal', 'AM2-014', 'DNA', 'AMLP-11', 505.0),
 ('AM2 D-60', '2686-1-13.1', 'MIS1', 'AM2-014', 'DNA', 'AMLP-40', 3780.0),
 ('AM2 D-61', '2686-1-13.1', 'Mel1', 'AM2-014', 'DNA', 'AMLP-12,AMLP-150', 5100.0),
 ('AM2 D-62', '1586-2-13-C', 'Normal', 'AM2-018', 'DNA', 'AMLP-13', 307.0),
 ('AM2 D-63', '1586-2-13-C', 'MIS1', 'AM2-018', 'DNA', None, 2440.0),
 ('AM2 D-64', '1586-2-13-C', 'MIS2', 'AM2-018', 'DNA', None, 685.0),
 ('AM2 D-65', '1586-2-13-C', 'Mel1', 'AM2-018', 'DNA', 'AMLP-14', 3030.0),
 ('AM2 D-66', '385/14', 'Normal', 'AM2-019', 'DNA', 'AMLP-15', 278.0),
 ('AM2 D-67', '385/14', 'MIS1', 'AM2-019', 'DNA', None, 253.0),
 ('AM2 D-68', '385/14', 'MIS2', 'AM2-019', 'DNA', None, 625.0),
 ('AM2 D-69', '385/14', 'Mel1', 'AM2-019', 'DNA', 'AMLP-16,AMLP-151', 2620.0),
 ('AM2 D-70', '4070/2/13.1', 'Normal', 'AM2-022', 'DNA', 'AMLP-17', 376.0),
 ('AM2 D-71', '4070/2/13.1', 'MIS1', 'AM2-022', 'DNA', None, 1170.0),
 ('AM2 D-73', '4070/2/13.1', 'Mel1', 'AM2-022', 'DNA', 'AMLP-18', 1760.0),
 ('AM2 D-74', '19111/14.2', 'Normal', 'AM2-051', 'DNA', 'AMLP-23_1,AMLP-23_2', 735.0),
 ('AM2 D-75', '19111/14.3', 'MIS1', 'AM2-051', 'DNA', None, 2940.0),
 ('AM2 D-76', '19111/14.3', 'MIS2', 'AM2-051', 'DNA', None, 2480.0),
 ('AM2 D-77', '19111/14.3', 'Mel1', 'AM2-051', 'DNA', 'AMLP-24_1,AMLP-24_2', 3720.0),
 ('AM2 D-78', '21159 G2', 'Normal', 'AM2-053', 'DNA', 'AMLP-25', 5700.0),
 ('AM2 D-79', '21159 A5', 'MIS1', 'AM2-053', 'DNA', None, 1130.0),
 ('AM2 D-80', '21159 A5', 'Mel1', 'AM2-053', 'DNA', 'AMLP-26', 1890.0),
 ('AM2 D-81', '38637-16.1', 'Normal', 'AM2-055', 'DNA', 'AMLP-27', 880.0),
 ('AM2 D-82', '38637-16.1', 'MIS1', 'AM2-055', 'DNA', None, 434.0),
 ('AM2 D-83', '38637-16.1', 'MIS2', 'AM2-055', 'DNA', None, 770.0),
 ('AM2 D-84', '38637-16.1', 'Mel1', 'AM2-055', 'DNA', 'AMLP-28', 2080.0),
 ('AM2 D-85', '38637-16.1', 'Mel2', 'AM2-055', 'DNA', 'AMLP-42', 1630.0),
 ('AM2 D-86', '86541-1g', 'MIS1', 'AM2-006', 'DNA', 'AMLP-41', 4500.0),
 ('AM2 D-87', 'K3-C', 'Normal', 'AM2-061', 'DNA', 'AMLP-43', 5800.0),
 ('AM2 D-88', 'K3-D', 'Normal2', 'AM2-061', 'DNA', 'AMLP-44', 8220.0),
 ('AM2 D-89', 'K3-A-B', 'MIS1', 'AM2-061', 'DNA', 'AMLP-45', 296.0),
 ('AM2 D-90', 'K3-A-B', 'Mel1', 'AM2-061', 'DNA', 'AMLP-46,AMLP-132', 1520.0),
 ('AM2 D-91', 'K3-C', 'Met1', 'AM2-061', 'DNA', 'AMLP-47', 3470.0),
 ('AM2 D-92', 'K3-C', 'Met2', 'AM2-061', 'DNA', 'AMLP-48', 780.0),
 ('AM2 D-93', 'K4-D', 'Normal', 'AM2-062', 'DNA', 'AMLP-49', 1670.0),
 ('AM2 D-94', 'K4-B', 'MIS1', 'AM2-062', 'DNA', 'AMLP-50', 439.0),
 ('AM2 D-95', 'K4-A', 'MIS2', 'AM2-062', 'DNA', 'AMLP-51', 770.0),
 ('AM2 D-96', 'K4-B', 'Mel1', 'AM2-062', 'DNA', 'AMLP-52,AMLP-158,AMLP-198', 3140.0),
 ('AM2 D-97', 'K4-B', 'Mel2', 'AM2-062', 'DNA', 'AMLP-53', 3170.0),
 ('AM2 D-98', 'K4-C', 'Met1', 'AM2-062', 'DNA', 'AMLP-54,AMLP-133', 4560.0),
 ('AM2 D-99', 'K4-C', 'Met2', 'AM2-062', 'DNA', 'AMLP-55', 1610.0),
 ('AM2 D-100', 'H09.22183/1', 'Normal', 'AM2-057', 'DNA', None, 25.0),
 ('AM2 D-101', 'H09.22183/1', 'Mel1', 'AM2-057', 'DNA', 'AMLP-56', 286.0),
 ('AM2 D-102', 'H13.5620/1', 'Met1', 'AM2-057', 'DNA', 'AMLP-57', 1000.0),
 ('AM2 D-103', 'H15.5120/1', 'Mel1', 'AM2-058', 'DNA', 'AMLP-58', 2150.0),
 ('AM2 D-104', 'H16.5818/2', 'Met1', 'AM2-058', 'DNA', 'AMLP-59', 2490.0),
 ('AM2 D-105', 'H14.26934/2', 'Normal', 'AM2-059', 'DNA', 'AMLP-60', 242.0),
 ('AM2 D-106', 'H14.26934/2', 'MIS1', 'AM2-059', 'DNA', None, 5.5),
 ('AM2 D-107', 'HS17.35/2', 'Met1', 'AM2-059', 'DNA', 'AMLP-61', 5400.0),
 ('AM2 D-108', 'H15.19121/7', 'Normal', 'AM2-060', 'DNA', 'AMLP-62', 41.4),
 ('AM2 D-109', 'H15.19121/7', 'Mel1', 'AM2-060', 'DNA', 'AMLP-63', 4150.0),
 ('AM2 D-110', 'H16.872/2', 'Met1', 'AM2-060', 'DNA', 'AMLP-64', 1520.0),
 ('AM2 D-111', 'K5-A-B', 'Normal 1', 'AM2-063', 'DNA', 'AMLP-65', 286.6),
 ('AM2 D-112', 'K5-D', 'Normal 2', 'AM2-063', 'DNA', 'AMLP-66', 1166.4),
 ('AM2 D-113', 'K5-A-B', 'MIS1', 'AM2-063', 'DNA', 'AMLP-67,AMLP-161', 369.6),
 ('AM2 D-114', 'K5-A-B', 'MIS2', 'AM2-063', 'DNA', 'AMLP-68,AMLP-162', 195.4),
 ('AM2 D-115', 'K5-A-B', 'Mel1', 'AM2-063', 'DNA', 'AMLP-69,AMLP-163', 465.6),
 ('AM2 D-116', 'K6-B', 'MIS1', 'AM2-065', 'DNA', 'AMLP-71', 243.4),
 ('AM2 D-117', 'K6-B', 'MIS2', 'AM2-065', 'DNA', 'AMLP-72', 547.2),
 ('AM2 D-118', 'K6-B', 'Mel1', 'AM2-065', 'DNA', 'AMLP-73', 137.3),
 ('AM2 D-119', 'K6-B', 'Mel2', 'AM2-065', 'DNA', 'AMLP-74', 328.3),
 ('AM2 D-120', 'K7-B', 'Normal1', 'AM2-066', 'DNA', 'AMLP-75', 298.6),
 ('AM2 D-121', 'K7-B', 'MIS1', 'AM2-066', 'DNA', 'AMLP-76,AMLP-164', 145.9),
 ('AM2 D-122', 'K7-B', 'Mel1', 'AM2-066', 'DNA', 'AMLP-77,AMLP-168', 459.8),
 ('AM2 D-123', 'K8-A', 'Normal1', 'AM2-067', 'DNA', 'AMLP-78,AMLP-169', 323.5),
 ('AM2 D-124', 'K8-B', 'MIS1', 'AM2-067', 'DNA', 'AMLP-79,AMLP-170', 73.9),
 ('AM2 D-125', 'K8-A', 'MIS2', 'AM2-067', 'DNA', 'AMLP-80,AMLP-171', 193.4),
 ('AM2 D-126', 'K8-B', 'Mel1', 'AM2-067', 'DNA', 'AMLP-81,AMLP-172', 171.8),
 ('AM2 D-127', 'K9-D', 'Normal1', 'AM2-068', 'DNA', 'AMLP-82', 325.9),
 ('AM2 D-128', 'K9-A-B', 'MIS1', 'AM2-068', 'DNA', 'AMLP-83,AMLP-177', 273.1),
 ('AM2 D-129', 'K9-A-B', 'Mel1', 'AM2-068', 'DNA', 'AMLP-84,AMLP-178', 1732.8),
 ('AM2 D-130', 'K9-C', 'LN Met 1', 'AM2-068', 'DNA', 'AMLP-85,AMLP-179', 2323.2),
 ('AM2 D-131', 'K10-A', 'Normal 1', 'AM2-069', 'DNA', 'AMLP-86', 67.7),
 ('AM2 D-132', 'K10-C', 'Normal 2', 'AM2-069', 'DNA', 'AMLP-87', 185.3),
 ('AM2 D-133', 'K10-B', 'MIS1', 'AM2-069', 'DNA', 'AMLP-88', 272.6),
 ('AM2 D-134', 'K10-A', 'MIS2', 'AM2-069', 'DNA', 'AMLP-91', 48.0),
 ('AM2 D-135', 'K10-B', 'Mel1', 'AM2-069', 'DNA', 'AMLP-89,AMLP-135', 2294.4),
 ('AM2 D-136', 'K10-C', 'LN Met 1', 'AM2-069', 'DNA', 'AMLP-90,AMLP-180', 186.2),
 ('AM2 D-137', 'K11-B', 'MIS1', 'AM2-070', 'DNA', 'AMLP-92', 124.8),
 ('AM2 D-138', 'K11-B', 'MIS2', 'AM2-070', 'DNA', 'AMLP-93', 277.0),
 ('AM2 D-139', 'K11-A', 'MIS3', 'AM2-070', 'DNA', 'AMLP-94', 107.5),
 ('AM2 D-140', 'K11-B', 'Mel1', 'AM2-070', 'DNA', 'AMLP-95,AMLP-136', 595.2),
 ('AM2 D-141', 'K12-D', 'Normal 1', 'AM2-071', 'DNA', 'AMLP-97', 2164.8),
 ('AM2 D-142', 'K12-A', 'MIS1', 'AM2-071', 'DNA', 'AMLP-98', 369.6),
 ('AM2 D-143', 'K12-B', 'Mel1', 'AM2-071', 'DNA', 'AMLP-99,AMLP-137', 1857.6),
 ('AM2 D-144', 'K11-D', 'Normal 1', 'AM2-070', 'DNA', 'AMLP-96', 1224.0),
 ('AM2 D-145', 'K6-A-D', 'Normal 1', 'AM2-065', 'DNA', 'AMLP-70', 633.6),
 ('AM2 D-146', 'K13-D', 'Normal 1', 'AM2-072', 'DNA', 'AMLP-100', 1118.4),
 ('AM2 D-147', 'K14-D', 'Normal 1', 'AM2-073', 'DNA', 'AMLP-101', 2376.0),
 ('AM2 D-148', 'K14-A', 'MIS1', 'AM2-073', 'DNA', None, 0.0),
 ('AM2 D-149', 'K14-B', 'Mel 1', 'AM2-073', 'DNA', None, 0.0),
 ('AM2 D-150', 'K15-D', 'Normal 1', 'AM2-074', 'DNA', 'AMLP-102,AMLP-181', 1915.2),
 ('AM2 D-151', 'K15-A-B', 'MIS1', 'AM2-074', 'DNA', 'AMLP-103,AMLP-182', 54.2),
 ('AM2 D-152', 'K15-A-B', 'MIS2', 'AM2-074', 'DNA', 'AMLP-183', 15.4),
 ('AM2 D-153', 'K15-A-B', 'Mel1', 'AM2-074', 'DNA', 'AMLP-104,AMLP-184', 518.4),
 ('AM2 D-154', 'K15-A-B', 'Mel2', 'AM2-074', 'DNA', 'AMLP-105,AMLP-185', 91.7),
 ('AM2 D-155', 'K16-D', 'Normal 1', 'AM2-075', 'DNA', 'AMLP-106', 2294.4),
 ('AM2 D-156', 'K17-D', 'Normal 1', 'AM2-076', 'DNA', 'AMLP-107,AMLP-138', 1065.6),
 ('AM2 D-157', 'K17-B', 'MIS1', 'AM2-076', 'DNA', 'AMLP-108', 102.2),
 ('AM2 D-158', 'K17-B', 'Mel1', 'AM2-076', 'DNA', 'AMLP-109,AMLP-139', 1012.8),
 ('AM2 D-159', 'K20-A-B', 'Normal 1', 'AM2-079', 'DNA', 'AMLP-110,AMLP-141', 518.4),
 ('AM2 D-160', 'K20-A-B', 'MIS1', 'AM2-079', 'DNA', 'AMLP-111', 101.3),
 ('AM2 D-161', 'K20-A-B', 'MIS2', 'AM2-079', 'DNA', 'AMLP-112', 214.1),
 ('AM2 D-162', 'K20-A-B', 'Mel1', 'AM2-079', 'DNA', 'AMLP-113,AMLP-140', 1420.8),
 ('AM2 D-163', 'K21-A-B', 'Normal 1', 'AM2-080', 'DNA', 'AMLP-114,AMLP-143', 391.7),
 ('AM2 D-164', 'K21-A-B', 'MIS1', 'AM2-080', 'DNA', 'AMLP-115,AMLP-173', 224.2),
 ('AM2 D-165', 'K21-A-B', 'MIS2', 'AM2-080', 'DNA', 'AMLP-116,AMLP-174', 619.2),
 ('AM2 D-166', 'K21-A-B', 'Mel1', 'AM2-080', 'DNA', 'AMLP-117,AMLP-142', 1852.8),
 ('AM2 D-167', 'K22-A-B', 'Normal 1', 'AM2-081', 'DNA', None, 25.4),
 ('AM2 D-168', 'K22-A-B', 'MIS1', 'AM2-081', 'DNA', 'AMLP-187', 21.7),
 ('AM2 D-169', 'K22-A-B', 'MIS2', 'AM2-081', 'DNA', 'AMLP-118,AMLP-188', 67.7),
 ('AM2 D-170', 'K22-A-B', 'Mel1', 'AM2-081', 'DNA', 'AMLP-119,AMLP-190', 32.7),
 ('AM2 D-171', 'K23-A-B', 'Normal 1', 'AM2-082', 'DNA', 'AMLP-120', 68.6),
 ('AM2 D-172', 'K23-A-B', 'MIS1', 'AM2-082', 'DNA', 'AMLP-121', 138.2),
 ('AM2 D-173', 'K23-A-B', 'MIS2', 'AM2-082', 'DNA', 'AMLP-122', 77.3),
 ('AM2 D-174', 'K23-A-B', 'Mel1', 'AM2-082', 'DNA', 'AMLP-123,AMLP-194', 1612.8),
 ('AM2 D-175', 'K24-A-B', 'Mel1', 'AM2-083', 'DNA', 'AMLP-124', 672.0),
 ('AM2 D-176', '501950_A3\n', 'Mel1', 'AM2-027', 'DNA', None, 28.7),
 ('AM2 D-177', '501950_A3\n', 'MIS', 'AM2-027', 'DNA', None, 8.6),
 ('AM2 D-178', '501950_A3\n', 'Normal', 'AM2-027', 'DNA', None, 0.0),
 ('AM2 D-179', 'B2007.998/2', 'LN Met 1', 'AM2-048', 'DNA', 'AMLP-147', 3024.0),
 ('AM2 D-180', 'H09.22183/1', 'Mel3', 'AM2-057', 'DNA', None, 55.8),
 ('AM2 D-181', 'H13.5620/1', 'Normal3', 'AM2-057', 'DNA', None, 14.7),
 ('AM2 D-182', 'H13.5620/1', 'Met2', 'AM2-057', 'DNA', None, 254.4),
 ('AM2 D-183', 'K2-C', 'Met1', 'AM2-050', 'DNA', 'AMLP-131,AMLP-157,AMLP-197', 4224.0),
 ('AM2 D-184', 'K1-C', 'LN Met 2', 'AM2-049', 'DNA', 'AMLP-128,AMLP-156,AMLP-175', 2102.4),
 ('AM2 D-185', 'K1-C', 'LN Met 1', 'AM2-049', 'DNA', 'AMLP-127,AMLP-155,AMLP-196', 3849.6),
 ('AM2 D-186', 'K4-C-2', 'LN Met 4', 'AM2-062', 'DNA', 'AMLP-160,AMLP-176', 4992.0),
 ('AM2 D-187', 'K4-C-2', 'LN Met 3', 'AM2-062', 'DNA', 'AMLP-159', 3878.4),
 ('AM2 D-188', 'K7-B-2', 'MIS4', 'AM2-066', 'DNA', 'AMLP-167', 54.2),
 ('AM2 D-189', 'K7-B-2', 'MIS3', 'AM2-066', 'DNA', 'AMLP-166', 224.6),
 ('AM2 D-190', 'K7-A', 'MIS2', 'AM2-066', 'DNA', 'AMLP-165', 266.9),
 ('AM2 D-191', 'K22-D', 'MIS3', 'AM2-081', 'DNA', 'AMLP-189', 885.1),
 ('AM2 D-192', 'K22-D', 'Normal2', 'AM2-081', 'DNA', 'AMLP-186', 776.6),
 ('AM2 D-193', 'K23-D', 'Normal', 'AM2-082', 'DNA', 'AMLP-191', 518.4),
 ('AM2 D-194', 'K23-A-B', 'MIS1', 'AM2-082', 'DNA', 'AMLP-192', 328.3),
 ('AM2 D-195', 'K23-A-B', 'MIS2', 'AM2-082', 'DNA', 'AMLP-193', 227.5),
 ('AM2 D-196', '38637-16.2', 'Met1', 'AM2-055', 'DNA', None, 283.2),
 ('AM2 D-199', 'H15.5120/1', 'Mel2', 'AM2-058', 'DNA', None, 149.8),
 ('AM2 D-200', 'H18.7977', 'Met2', 'AM2-058', 'DNA', None, 24.4),
 ('AM2 D-201', 'H18.7977', 'Normal', 'AM2-058', 'DNA', None, 6.0),
 ('AM2 D-202', '86541-1g', 'Mel2', 'AM2-006', 'DNA', None, 1622.4),
 ('AM2 D-203', '86541-2a', 'LN Met', 'AM2-006', 'DNA', None, 2340.5),
 ('AM2 D-205', '2686-1-13.2', 'Normal', 'AM2-014', 'DNA', None, 477.1),
 ('AM2 D-206', 'H13.10897/2', 'Normal', 'AM2-040', 'DNA', None, 54.4),
 ('AM2 D-207', 'H13.10897/11', 'Mel1', 'AM2-040', 'DNA', None, 1104.0),
 ('AM2 D-208', 'B13.26332/1', 'LN Met', 'AM2-040', 'DNA', None, 457.0),
 ('AM2 D-210', 'H13.21587/1', 'Normal', 'AM2-041', 'DNA', None, 7.1),
 ('AM2 D-211', 'B06.41962/3', 'MIS1', 'AM2-041', 'DNA', None, 122.9),
 ('AM2 D-212', 'B06.41962/5', 'MIS2', 'AM2-041', 'DNA', None, 17.5),
 ('AM2 D-213', 'B06.41962/5', 'Mel1', 'AM2-041', 'DNA', None, 106.6),
 ('AM2 D-214', 'B06.41962/5', 'Mel2', 'AM2-041', 'DNA', None, 60.1),
 ('AM2 D-215', 'B14.2561/12', 'LN Met', 'AM2-041', 'DNA', None, 3849.6),
 ('AM2 D-216', 'H13.21587/1', 'Cutaneous Metastasis', 'AM2-041', 'DNA', None, 67.8),
 ('AM2 D-217', 'H12.27716/7', 'Normal', 'AM2-043', 'DNA', None, 66.8),
 ('AM2 D-218', 'H12.27716/7', 'Mel1', 'AM2-043', 'DNA', None, 1948.8),
 ('AM2 D-219', 'H15.2058/1', 'Subcutaneous Metastasis', 'AM2-043', 'DNA', None, 2112.0),
 ('AM2 D-220', 'H2007.4636/9', 'Normal', 'AM2-046', 'DNA', None, 59.4),
 ('AM2 D-221', 'H2007.4636/9', 'Mel1', 'AM2-046', 'DNA', None, 227.5),
 ('AM2 D-222', 'B2007.15494/1', 'LN Met 1', 'AM2-046', 'DNA', None, 648.0),
 ('AM2 D-223', 'B2008.24393/1', 'Bladder Metastasis', 'AM2-046', 'DNA', None, 399.4),
 ('AM2 D-224', 'H13.3143 ', 'Mel1', 'AM2-085', 'DNA', None, 1142.4)]

In [31]:
%%sql
Select distinct project from blocks;

 * postgresql://borisbastian:***@localhost:5432/labdb3
29 rows affected.

[("I don't know",),
 (None,),
 ('Uveal Melanoma',),
 ('Lentiginous Nevi ',),
 ('Test',),
 (' Dysplastic Nevi',),
 ('Spitz Melanoma',),
 ('Possible TERT Fusion',),
 ('Clinical Cases-BCC',),
 ('Melanoma Prognosis',),
 ('TEst',),
 ('Acral melanoma',),
 ('Nodular Melanoma',),
 ('Fusion RNA',),
 ('CGH Validation',),
 ('Conjunctival Melanoma',),
 ('Nevus Library',),
 ('PRKC Fused Cases',),
 ('Kit mutants',),
 ('Atypical Spitz Progression',),
 ('Blay',),
 ('Djunk',),
 ('Hockyemeyer Melanoma Progression',),
 ('NRAS Amplified',),
 ('Deep Penetrating Melanoma',),
 ('acral melanoma',),
 ('Cafe au Lait',),
 ('Melanoma Epigenetics',),
 ('Acral Melanoma Cell Culture',)]

In [148]:
%%sql
ALTER TABLE sample_lib
    ADD CONSTRAINT fk_barcode FOREIGN KEY (barcode_id) REFERENCES barcodes (barcode_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
(psycopg2.errors.InvalidForeignKey) there is no unique constraint matching given keys for referenced table "barcodes"

[SQL: ALTER TABLE sample_lib
    ADD CONSTRAINT fk_barcode FOREIGN KEY (barcode_id) REFERENCES barcodes (barcode_id);]
(Background on this error at: http://sqlalche.me/e/f405)

In [151]:
%%sql
SELECT sl_id, s.barcode_id, b.barcode_id
    FROM sample_lib s
    LEFT JOIN barcodes b ON b.barcode_id=s.barcode_id
    WHERE b.barcode_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
12 rows affected.

[('RLP-07', 'Dual_AD853Duplex', None),
 ('RLP-21', 'Dual_AD853Duplex', None),
 ('IRLP-001', 'Dual Index UMI Adapter 32', None),
 ('IRLP-002', 'Dual Index UMI Adapter 33', None),
 ('IRLP-003', 'Dual Index UMI Adapter 34', None),
 ('IRLP-004', 'Dual Index UMI Adapter 35', None),
 ('IRLP-005', 'Dual Index UMI Adapter 36', None),
 ('IRLP-006', 'Dual Index UMI Adapter 37', None),
 ('IRLP-007', 'Dual Index UMI Adapter 39', None),
 ('IRLP-008', 'Dual Index UMI Adapter 40', None),
 ('IRLP-009', 'Dual Index UMI Adapter 41', None),
 ('IRLP-010', 'Dual Index UMI Adapter 42', None)]

In [152]:
%%sql
UPDATE sample_lib s
SET barcode_id=b.barcode_id
FROM barcodes b
WHERE s.barcode_id = b.barcode_name;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

### Connect Patients to Blocks

In [153]:
%%sql
ALTER TABLE patients
ADD COLUMN pa_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [154]:
%%sql
ALTER TABLE blocks
ADD COLUMN patient integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [155]:
%%sql
--update new fk=patient in blocks from new serial primary key in patients
UPDATE blocks b
SET patient=p.pa_id
FROM patients p
WHERE b.pat_id=p.pat_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1095 rows affected.

[]

In [156]:

%%sql
ALTER TABLE blocks
    ADD CONSTRAINT fk_orders_pat_id FOREIGN KEY (patient) REFERENCES patients (pa_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [157]:
%%sql
select patients.source, count(*) blocks_id from blocks
join patients
on patients.pa_id=blocks.patient
group by patients.source;

 * postgresql://borisbastian:***@localhost:5432/labdb3
10 rows affected.

[('Madrid, Spain', 215),
 ('BLANK', 351),
 ('Taiwan', 54),
 ('Japan', 61),
 ('Zurich', 35),
 ('Denmark', 85),
 ('Greece', 70),
 ('Bolivia', 56),
 ('UCSF', 160),
 ('Chile', 8)]

The next query selects non matching foreign keys and primary keys and deletes the foreign key rows.

In [158]:
%%sql
SELECT areas.block_id
FROM areas
    LEFT JOIN blocks ON areas.block_id=blocks.block_id
WHERE blocks.block_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

### Fix some areas.block_id entries with duplicate ids

In [159]:
#conn.close
conn = psycopg2.connect(host="localhost", port = 5432, database="labdb3", user="borisbastian")
cursor = conn.cursor() 
query="SELECT areas.block_id FROM areas\
        LEFT JOIN blocks ON areas.block_id=blocks.block_id\
        WHERE blocks.block_id IS NULL;"
result=cursor.execute(query)
result=cursor.fetchall()

conn.commit()
#provides a list of tuples
print(result)
print("These block_id entries in Areas have no match in Blocks")
for a in result:
    # a in result is a tuple with 1 entry. That entry can have more than one elements, we only want the first
    #print("a=")
    #print(a)
    #print("b=")
    b=a[0].split(',')
    #turns first tuple element into a list
    c=b[0].replace("\n","")
    # c is the first element of that list and gets stripped of formatting stuff
    c=c.strip('"')
    #strip all formating
    #print(b[0])
    #print('this was b[0]')
    print(len(b))
    if len(b)>1:
        query="UPDATE areas SET block_id=%s WHERE block_id = %s;" 
        #print(query)
        result=cursor.execute(query,(c,a))
        print(str(cursor.rowcount)+' rows from Areas updated from ')
        print(a)
        print('to:')
        print(c)
    
        conn.commit()
    else:
        query="DELETE FROM areas WHERE block_id = %s;" 
        result=cursor.execute(query,a)
        conn.commit()
        print(cursor.rowcount)
        print(' rows were deleted from Areas ')

[]
These block_id entries in Areas have no match in Blocks

In [160]:
%%sql
DELETE FROM areas 
USING (
    SELECT areas.block_id
    FROM areas 
    LEFT JOIN blocks ON areas.block_id = blocks.block_id
    WHERE blocks.block_id IS NULL
    ) nonmatch WHERE nonmatch.block_id=areas.block_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

### Connect Blocks and Areas

In [161]:
%%sql
ALTER TABLE blocks
ADD COLUMN bl_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [162]:
%%sql
ALTER TABLE areas
ADD COLUMN block integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [163]:
%%sql
--update new fk=patient in areas from new serial primary key bl_id in blocks
UPDATE areas a
SET block=b.bl_id
FROM blocks b
WHERE a.block_id=b.block_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1214 rows affected.

[]

In [164]:
%%sql
ALTER TABLE areas
    ADD CONSTRAINT fk_block FOREIGN KEY (block) REFERENCES blocks (bl_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

### Connect  Areas and Nuc_acids

In [165]:
%%sql
ALTER TABLE areas
ADD COLUMN ar_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [166]:
%%sql
ALTER TABLE nuc_acids
ADD COLUMN area integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [167]:
%%sql
--update new fk=area in nuc_acides from new serial primary key ar_id in areas
UPDATE nuc_acids n
SET area=a.ar_id
FROM areas a
WHERE n.area_id=a.area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1263 rows affected.

[]

In [168]:
%%sql
ALTER TABLE nuc_acids
    ADD CONSTRAINT fk_area FOREIGN KEY (area) REFERENCES areas (ar_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [169]:
%%sql
SELECT nuc_acids.area_id
FROM nuc_acids
    LEFT JOIN areas ON nuc_acids.area_id=areas.area_id
WHERE areas.area_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
2 rows affected.

[('799 Mel',), ('800 Nevus',)]

In [170]:
%%sql
SELECT area_id FROM areas
WHERE area_ID ILIKE('799%')

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

In [171]:
%%sql
DELETE FROM nuc_acids 
USING (
    SELECT nuc_acids.area_id
    FROM nuc_acids 
    LEFT JOIN areas ON nuc_acids.area_id = areas.area_id
    WHERE areas.area_id IS NULL
    ) nonmatch WHERE nonmatch.area_id=nuc_acids.area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
2 rows affected.

[]

### Connect nucleic acids to sample library table

In [172]:
%%sql
ALTER TABLE nuc_acids
ADD COLUMN nu_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [173]:
%%sql
ALTER TABLE sample_lib
ADD COLUMN nuc_acid integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [174]:
%%sql
--update new fk=nuc_acid in sample_lib from new serial primary key nu_id in nuc_acids
UPDATE sample_lib s
SET nuc_acid=n.nu_id
FROM nuc_acids n
WHERE n.na_id=s.na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1105 rows affected.

[]

In [175]:
%%sql
ALTER TABLE sample_lib
    ADD CONSTRAINT fk_nuc_acid FOREIGN KEY (nuc_acid) REFERENCES nuc_acids (nu_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [176]:
%%sql 
SELECT nuc_acid
FROM sample_lib s
    LEFT JOIN nuc_acids n ON s.na_id=n.na_id
WHERE n.na_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1 rows affected.

[(None,)]

In [177]:
%%sql
DELETE FROM sample_lib 
USING (
    SELECT sample_lib.na_id
    FROM sample_lib 
    LEFT JOIN nuc_acids ON sample_lib.na_id=nuc_acids.na_id
    WHERE nuc_acids.na_id IS NULL
    ) nonmatch WHERE nonmatch.na_id=sample_lib.na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1 rows affected.

[]

### Make linking table for many to many relation btw sample library and captured library

In [178]:
%%sql
ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_sample_lib FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id) ON UPDATE CASCADE;

 * postgresql://borisbastian:***@localhost:5432/labdb3
(psycopg2.errors.InvalidForeignKey) there is no unique constraint matching given keys for referenced table "sample_lib"

[SQL: ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_sample_lib FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id) ON UPDATE CASCADE;]
(Background on this error at: http://sqlalche.me/e/f405)

In [179]:
%%sql
ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_captured_lib FOREIGN KEY (cl_id) REFERENCES captured_lib (cl_id) ON UPDATE CASCADE;

 * postgresql://borisbastian:***@localhost:5432/labdb3
(psycopg2.errors.InvalidForeignKey) there is no unique constraint matching given keys for referenced table "captured_lib"

[SQL: ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_captured_lib FOREIGN KEY (cl_id) REFERENCES captured_lib (cl_id) ON UPDATE CASCADE;]
(Background on this error at: http://sqlalche.me/e/f405)

In [25]:
%%sql
ALTER TABLE sample_variants
    DROP CONSTRAINT sample_variants_pkey;

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

### Check whether there are any duplicate imports in sample variants 
(i.e. rows that have same variant from same sample library, sequencing run and analysis job

In [46]:
%%sql
SELECT s_var_id
    FROM 
(SELECT s_var_id,
         ROW_NUMBER() OVER (PARTITION BY g_var_id,sl_id, seq_run, job
        ORDER BY  s_var_id ) AS row_num
        FROM sample_variants) t
        WHERE t.row_num > 1;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.

[]

### Connect sample_variants to qc

In [47]:
%%sql
ALTER TABLE qc DROP CONSTRAINT qc_pkey;
ALTER TABLE qc
    ADD CONSTRAINT qc_pkey PRIMARY KEY (sl_id, seq_run);

 * postgresql://boris:***@localhost:5432/boris
(psycopg2.errors.UndefinedObject) constraint "qc_pkey" of relation "qc" does not exist

[SQL: ALTER TABLE qc DROP CONSTRAINT qc_pkey;]
(Background on this error at: http://sqlalche.me/e/f405)

In [48]:
%%sql test <<
SELECT s_var_id, sample_variants.sl_id
FROM sample_variants
    LEFT JOIN qc ON sample_variants.sl_id=qc.sl_id 
                AND sample_variants.seq_run=qc.seq_run 
                AND sample_variants.job=qc.job
WHERE qc.job IS NULL;

 * postgresql://boris:***@localhost:5432/boris
15998 rows affected.
Returning data to local variable test

In [49]:
%%sql test <<
SELECT s_var_id, sample_variants.sl_id
FROM sample_variants
    LEFT JOIN qc ON sample_variants.sl_id=qc.sl_id 
                AND sample_variants.seq_run=qc.seq_run 
        
WHERE qc.sl_id IS NULL 
AND qc.seq_run IS NULL;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.
Returning data to local variable test

In [50]:
%%sql
ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id, seq_run) REFERENCES qc (sl_id, seq_run);

 * postgresql://boris:***@localhost:5432/boris
(psycopg2.errors.DuplicateObject) constraint "fk_sample_variants" for relation "sample_variants" already exists

[SQL: ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id, seq_run) REFERENCES qc (sl_id, seq_run);]
(Background on this error at: http://sqlalche.me/e/f405)

### Connect sample library to sample variants
1. Identify and delete  entries in sample_variants that don't have a link in sample_lib
2. Make the relationship

In [51]:
%%sql
SELECT DISTINCT sample_variants.sl_id
FROM sample_variants
    LEFT JOIN sample_lib ON sample_variants.sl_id=sample_lib.sl_id
WHERE sample_lib.sl_id IS NULL;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.

[]

In [52]:
%%sql
DELETE FROM sample_variants 
USING (
    SELECT sample_variants.sl_id
    FROM sample_variants 
    LEFT JOIN sample_lib ON sample_variants.sl_id=sample_lib.sl_id
    WHERE sample_lib.sl_id IS NULL
    ) nonmatch WHERE nonmatch.sl_id=sample_variants.sl_id;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.

[]

In [53]:
%%sql
ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id);

 * postgresql://boris:***@localhost:5432/boris
(psycopg2.errors.DuplicateObject) constraint "fk_sample_variants" for relation "sample_variants" already exists

[SQL: ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id);]
(Background on this error at: http://sqlalche.me/e/f405)

### Connect Captured_lib to Seq_run via linking table sq_cl_link

In [2]:
%%sql
--remove duplicate sq_id values from seq_run table
--step 1
DROP TABLE IF EXISTS seq_run_temp;
CREATE TABLE seq_run_temp (LIKE seq_run);
-- step 2
INSERT INTO seq_run_temp (sq_id,date,facility,machine,pe)
SELECT 
    DISTINCT ON (sq_id) sq_id,date,facility,machine,pe
FROM seq_run; 

-- step 3
DROP TABLE seq_run;

-- step 4
ALTER TABLE seq_run_temp 
RENAME TO seq_run;

 * postgresql://boris:***@localhost:5432/boris
Done.
Done.
23 rows affected.
Done.
Done.

[]

In [3]:
%%sql
ALTER TABLE seq_run
    ADD CONSTRAINT pk_seq_run PRIMARY KEY (sq_id);

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

In [5]:
%%sql
ALTER TABLE sq_cl_link
    ADD CONSTRAINT fk_seq_run FOREIGN KEY (sq_id) REFERENCES seq_run (sq_id);

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

In [6]:
%%sql
ALTER TABLE sq_cl_link
    ADD CONSTRAINT fk_captured_lib FOREIGN KEY (cl_id) REFERENCES captured_lib (cl_id);

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

### Clean up tables and drop unnecessary rows

In [137]:
%%sql
ALTER TABLE captured_lib
DROP COLUMN IF EXISTS sl_id,
DROP COLUMN IF EXISTS sample_n,
DROP COLUMN IF EXISTS area_id,
DROP COLUMN IF EXISTS project_update;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [138]:
%%sql
ALTER TABLE sample_lib
DROP COLUMN IF EXISTS block_id,
DROP COLUMN IF EXISTS patient_id,
DROP COLUMN IF EXISTS area_id,
DROP COLUMN IF EXISTS seq_run_id,
DROP COLUMN IF EXISTS tissue_type,
DROP COLUMN IF EXISTS capt_panel,
DROP COLUMN IF EXISTS cl_id,
DROP COLUMN IF EXISTS age,
DROP COLUMN IF EXISTS pat_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [139]:
%%sql
ALTER TABLE nuc_acids
DROP COLUMN IF EXISTS sl_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [140]:
%%sql
ALTER TABLE areas
DROP COLUMN IF EXISTS na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [141]:
%%sql
ALTER TABLE blocks
DROP COLUMN IF EXISTS sl_id,
DROP COLUMN IF EXISTS area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

### Move data between tables

In [180]:
%%sql
--This moves the collection method from blocks to areas and then drops the field from blocks
UPDATE areas
SET collection = blocks.collection 
FROM blocks 
WHERE areas.collection IS NULL AND blocks.collection IS NOT NULL;

ALTER TABLE blocks 
DROP COLUMN IF EXISTS collection;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1096 rows affected.
Done.

[]

In [181]:
%%sql
SELECT diagnosis, description FROM blocks
WHERE diagnosis IS NOT NULL AND description IS NOT NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

In [182]:
%%sql
--move the description to the diagnosis
UPDATE blocks
SET diagnosis = description
WHERE diagnosis IS NULL AND description IS NOT NULL;
--Drop description
ALTER TABLE blocks 
DROP COLUMN IF EXISTS description;

 * postgresql://borisbastian:***@localhost:5432/labdb3
76 rows affected.
Done.

[]

In [183]:
%%sql
ALTER TABLE blocks
ADD COLUMN receive date;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [184]:
%%sql
--move the date received entry in patients to the blocks table and drop field from patients
UPDATE blocks
SET receive = patients.date_rec
FROM patients
WHERE blocks.pat_id=patients.pat_id;
ALTER TABLE patients 
DROP COLUMN IF EXISTS date_rec;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1095 rows affected.
Done.

[]

In [185]:
%%sql
ALTER TABLE blocks 
RENAME COLUMN block_id TO old_block_id;
ALTER TABLE areas 
RENAME COLUMN area_id TO old_area_id;
ALTER TABLE nuc_acids 
RENAME COLUMN na_id TO old_na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.
Done.

[]

In [186]:
%%sql
ALTER TABLE areas 
RENAME COLUMN block_id TO old_block_id;
ALTER TABLE nuc_acids 
RENAME COLUMN area_id TO old_area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]