In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
%matplotlib inline

%load_ext sql

%sql postgresql://borisbastian:borisbastian@localhost:5432/labdb3

'Connected: borisbastian@labdb3'

In [2]:
pwd

'/Users/borisbastian/opt/anaconda3/envs/labDB2/test1root'

In [3]:
path='/Users/borisbastian/opt/anaconda3/envs/labDB2/data'

In [4]:
cd {path}

/Users/borisbastian/opt/anaconda3/envs/labDB2/data

#### Barcodes

In [94]:
%%sql
drop table if exists barcodes;
create table barcodes(
    barcode_id varchar(50),
    barcode_name varchar(50),
    index_i7 varchar(20),
    index_i5_nova_hi2500 varchar(20),
    index_i5_hi4000 varchar(20)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [95]:
#read in old_barcode Airtable
import csv
import string
tab = str.maketrans("ACTG", "TGAC")

def reverse_complement(seq):
    return seq.translate(tab)[::-1]
#function to reverse complement the i5 2500 barcodes to the i5 2500 ones

with open(path+'/Old Barcodes-Grid view.csv', newline='') as f:
    next(f) #skip header row
    with open(path+'/barcodes_old_out.csv','w', newline='') as fo:
        reader = csv.reader(f)
        writer = csv.writer(fo, delimiter=',')
        seen = set() # set for fast O(1) amortized lookup
    
        for row in reader:
            if row[1]=='' and row[2]=='':
                continue #skip rows don't have a barcode name or barcode sequence
            if row[0] in seen:  # this is a duplicate area_id entry
                row[0]='DUP-'+row[0]
            seen.add(row[0])
            row[1]=row[1].replace(' ','')
            i5_4000=reverse_complement(row[3])
            row.append(i5_4000)
#             print(row)
            writer.writerow(row)

In [96]:
%%sql
copy barcodes from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/barcodes_old_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
96 rows affected.

[]

In [97]:
#read in new_barcode Airtable
import csv
with open('New Barcodes-Grid view.csv', newline='') as f:
    next(f) #skip header row
    with open('barcodes_new_out.csv','w', newline='') as fo:
        reader = csv.reader(f)
        writer = csv.writer(fo, delimiter=',')
        seen = set() # set for fast O(1) amortized lookup
    
        for row in reader:
            if row[0]=='' or (row[2] =='' and row[3]=='' and row[4]==''):
                continue #skip rows that don't have an id, or have no nucleotide sequences.
            if row[0] in seen:  # this is a duplicate area_id entry
                row[0]='DUP-'+row[0]
            seen.add(row[0])
            row.pop() #remove sample_id column
            #print(row)
            writer.writerow(row)

In [98]:
%%sql
copy barcodes from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/barcodes_new_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
192 rows affected.

[]

### Captured_lib

In [99]:
%%sql
drop table if exists captured_lib cascade;
create table captured_lib(
    cl_id varchar(50),
    bait text,
    seq_run varchar(50),
    date_submitted date,
    seq_facility varchar(50),
    seq_machine varchar(50),
    sl_id varchar(2000),
    sample_n integer,
    area_id varchar(2000),
    project_update varchar(100),
    notes varchar(255)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [100]:
#Generates captured_lib_out
import csv
import re
with open('Captured Library and Sequencing Run-Grid view.csv', newline='') as f:
    #next(f) #skip header row
    with open('captured_lib_out.csv','w', newline='') as fo:
        reader = list(csv.reader(f))
        writer_fo = csv.writer(fo, delimiter=',')
        seen = set() # set for fast O(1) amortized lookup

        for row in reader[1:]:
            if row[0]=='':
                continue #skip rows that don't have an na_id or area_id 
            if row[0] in seen:  # this is a duplicate cl_id entry
                row[0]='DUP-'+row[0]
                print(row[0])
            
            bait=re.sub("[^A-Za-z]", "", row[0]) 
            row.insert(1,bait) 
            #This takes all characters from cl_id and extracts them into a string
            #that is supposed to represent the baits
            seen.add(row[0])
            #print(row)
            writer_fo.writerow(row)

In [101]:
%%sql
copy captured_lib from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/captured_lib_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
47 rows affected.

[]

### Seq_run table

In [102]:
#Generates seq_run_out.csv
import csv
import re
with open('Captured Library and Sequencing Run-Grid view.csv', newline='') as f:
    with open('seq_run_out.csv','w', newline='') as fo:
        reader = list(csv.reader(f))
        writer = csv.writer(fo, delimiter=',')

        for row in reader[1:]:
            #cut off header row
            #print(row)
            seq_run=row[1].strip()
            #if seq_run=='':
                #now seq_run info
                #continue
            date=row[2]
            facility=row[3]
            PEpos=row[4].find('PE')
            machine=row[4][:PEpos]
            if PEpos==-1:
                #no PE info in string
                PE=''
            else:
                PE=row[4][PEpos:]
            #print(PEpos,seq_run,facility,machine,PE)
            
            
            if ',' in row[1]:
                #the comma identifies multiple entries of seq_runs
                #the subsequent code separates them into separate rows in the output file
                a=row[1].split(',')
                for i in range(len(a)):
                    #print("Multiple cl_id entries detected: ",a)
                    seq_run=a[i].strip()
                    #print("cl_id: ",cl_id)
                    
                    rowfo=[seq_run,date,facility,machine,PE]
                    #print("sl_id: ",sl_id)
                    #print("Exported into linking table as: ",[sl_id,cl_id])
                    #a.pop()
                    if seq_run !='':
                        #seq_run cannot be empty for data to be included in seq_run table
                        writer.writerow(rowfo)
            else:
                rowfo=[seq_run,date,facility,machine,PE]
                #print(rowfo)
                #print("sl_id: ",sl_id)
                #print("Exported into linking table as: ",[sl_id,cl_id])
                #a.pop()
                if seq_run !='':
                    #seq_run cannot be empty for data to be included in seq_run table
                    writer.writerow(rowfo)

In [103]:
%%sql
drop table if exists seq_run cascade;
create table seq_run(
    sq_id varchar(50),
    date date,
    facility text,
    machine text,
    PE varchar(10)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [104]:
%%sql
copy seq_run from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/seq_run_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
49 rows affected.

[]

### Seq_CL_linking table

In [105]:
#Generates seq_run_out.csv
import csv
import re
with open('Captured Library and Sequencing Run-Grid view.csv', newline='') as f:
    with open('sq_cl_out.csv','w', newline='') as fo:
        reader = list(csv.reader(f))
        writer = csv.writer(fo, delimiter=',')

        for row in reader[1:]:
            #cut off header row
            #print(row)
            cl_id=row[0]
            seq_run=row[1].strip()
            #if seq_run=='':
                #now seq_run info
                #continue
            
            if ',' in row[1]:
                #the comma identifies multiple entries of seq_runs
                #the subsequent code separates them into separate rows in the output file
                a=row[1].split(',')
                for i in range(len(a)):
                    #print("Multiple cl_id entries detected: ",a)
                    seq_run=a[i].strip()
                    #print("cl_id: ",cl_id)
                    
                    rowfo=[seq_run,cl_id]
                    #print("sl_id: ",sl_id)
                    #print("Exported into linking table as: ",[sl_id,cl_id])
                    #a.pop()
                    if seq_run !='':
                        #seq_run cannot be empty for data to be included in seq_run table
                        writer.writerow(rowfo)
            else:
                rowfo=[seq_run,cl_id]
                #print(rowfo)
                #print("sl_id: ",sl_id)
                #print("Exported into linking table as: ",[sl_id,cl_id])
                #a.pop()
                if seq_run !='':
                    #seq_run cannot be empty for data to be included in seq_run table
                    writer.writerow(rowfo)

In [106]:
%%sql
drop table if exists sq_cl_link cascade;
create table sq_cl_link(
    sq_id varchar(50),
    cl_id varchar(50)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [107]:
%%sql
copy sq_cl_link from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/sq_cl_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
49 rows affected.

[]

### Sample_lib

In [7]:
%%sql
drop table if exists sample_lib cascade;
create table sample_lib(
    sl_id varchar(50),
    na_id varchar(50),
    area_id varchar(50),
    pat_id varchar(50),
    age integer,
    block_id varchar(50),
    pre_pcr integer,
    post_lib_qubit real,
    post_lib_qpcr real,
    vol_lib integer,
    lp_dna real,
    re_lp_amount real,
    re_lp2_amount real,
    total_lp_DNA real,
    chosen_for_capt varchar(30),
    cl_id varchar(50),
    input_dna real,
    input_vol real,
    post_pcr integer,
    capt_panel varchar(50),
    barcode_old varchar(50),
    barcode_new varchar(50),
    prep_date date,
    notes varchar(255),
    tissue_type varchar(50),
    project varchar(50),
    seq_run_ID varchar(100)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [109]:
import csv
import glob
import os

def writer2(file,lol):
    with open(file,'w', newline='') as fo2:
        csv_writer = csv.writer(fo2, delimiter=',') 
        for n in lol:
            csv_writer.writerow(n)

with open('Sample Library with grid view, analysis view and more-Grid view.csv', newline='') as f:
    #next(f) #skip header row
    with open('sample_lib_out.csv','w', newline='') as fo:
        reader = list(csv.reader(f))
        writer = csv.writer(fo, delimiter=',')
        seen = set() # set for fast O(1) amortized lookup
        link_table=[] # list of to catch all instances of multiple cl_ids and store them as tuples (sl_id,cl_id)
        #for i,n in enumerate(reader[0]):
               # print(i,n)
        for row in reader[1:]:
            if row[0]=='' or row[1]=='':
                print(row[0])
                print("Row above has missing sl_id na_id! Was skipped.")
                continue #skip rows that don't have an na_id or area_id 
            if row[0] in seen:  # this is a duplicate area_id entry
                row[0]='DUP-'+row[0]
                print("Duplicate key entries:")
                print(row[0])
            if ',' in row[15]:
                #the comma identifies multiple entries of cl_ids
                #the subsequent code separates them into tuple pairs for a linking table 
                a=row[15].split(',')
                for i in range(len(a)):
                    #print("Multiple cl_id entries detected: ",a)
                    cl_id=a[i]
                    #print("cl_id: ",cl_id)
                    sl_id=row[0]
                    #print("sl_id: ",sl_id)
                    #print("Exported into linking table as: ",[sl_id,cl_id])
                    #a.pop()
                    link_table.append([sl_id,cl_id])
            if row[21]=='':
                #no new barcode
                if row[20]=='':
                    print('This sl_id has no barcodes: ',row[0])
                else:
                    row[21]=row[20]
                    #move old barcodes to new barcodes.
                #print (row[15])
                #print(type(row[15]))
            row[21]=row[21].replace('IDT Dual Index UMI Adapter ','')
            if row[21].find('Dual_AD') >=0:
                row[21]=row[21].replace(' ','') #removes one or more spaces in some entries
#                 row[21]=row[21].replace('Duplex',' Duplex') #puts a space back before Duplex
            #remove text leading the barcode ID
            seen.add(row[0])
            #print(row)
            writer.writerow(row)
writer2('Sample Library Captured library linking table.csv',link_table)
print("linking table written to: data/Sample Library Captured library linking table.csv")
            #print(link_table)

linking table written to: data/Sample Library Captured library linking table.csv

In [8]:
t='Dual_AD 883 Duplex'
v=t.strip('IDT Dual Index UMI Adapter ')
print(v)

_AD 883

In [9]:
%%sql
copy sample_lib from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/sample_lib_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
1106 rows affected.

[]

In [10]:
%%sql
ALTER TABLE sample_lib DROP COLUMN barcode_old;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [11]:
%%sql
ALTER TABLE sample_lib RENAME COLUMN barcode_new to barcode_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [114]:
%%sql
drop table if exists sl_cl_link;
create table sl_cl_link(
    sl_id varchar(50),
    cl_id varchar(50),
    PRIMARY KEY (sl_id, cl_id)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [115]:
%%sql
copy sl_cl_link from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/Sample Library Captured library linking table.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
586 rows affected.

[]

In [12]:
%%sql
drop table if exists nuc_acids;
create table nuc_acids(
    na_id varchar(50),
    area_id varchar(50),
    na_type varchar(20),
    date_extr date,
    method varchar(50),
    qubit real,
    volume integer,
    amount real,
    re_ext real,
    total_ext real,
    na_sheared real,
    shearing_vol real,
    te_vol real,
    sl_id varchar(50),
    notes varchar(255),
    projects varchar(100)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [117]:
import csv
with open('Nucleic Acids-Grid view.csv', newline='') as f:
    next(f) #skip header row
    with open('nuc_acids_out.csv','w', newline='') as fo:
        reader = csv.reader(f)
        writer = csv.writer(fo, delimiter=',')
        seen = set() # set for fast O(1) amortized lookup
    
        for row in reader:
            if row[0]=='' or row[1]=='':
                continue #skip rows that don't have an na_id or area_id 
           # if row[3]=='':
               # row[3]='1900-01-01'
            if row[0] in seen:  # this is a duplicate area_id entry
                row[0]='DUP-'+row[0]
                print(row[0])
            row[1]=row[1].strip('"')
            seen.add(row[0])
            #print(row)
            writer.writerow(row)

In [13]:
%%sql
copy nuc_acids from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/nuc_acids_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
1265 rows affected.

[]

In [119]:
%%sql
drop table areas cascade;
create table areas(
    old_area_id varchar(50),
    area char(6),
    block_id varchar(50),
    collection varchar(50),
    area_type varchar(50),
    he_image varchar(200),
    na_id varchar(50),
    completion_date varchar(20),
    investigator varchar(50),
    notes varchar(255),
    project varchar(100)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [120]:
import csv
with open('Areas-Grid view.csv', newline='') as f:
    next(f) #skip header row
    with open('areas_out.csv','w', newline='') as fo:
        reader = csv.reader(f)
        writer = csv.writer(fo, delimiter=',')
        seen = set() # set for fast O(1) amortized lookup
    
        for row in reader:
            if row[0]=='' or row[2]=='':
                continue #skip rows that don't have an area_id or block_id 
            row[2]=row[2].strip('"')
            if row[0] in seen:  # this is a duplicate area_id entry
                row[0]='DUP-'+row[0]
                print(row[0])
            seen.add(row[0])
            #print(row)
            writer.writerow(row)

In [121]:
%%sql
copy areas from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/areas_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
1214 rows affected.

[]

In [122]:
%%sql
drop table if exists blocks;
create table blocks(
    block_id varchar(50),
    pat_id varchar(12),
    body_site varchar(200),
    ulceration boolean,
    slides integer,
    slides_left integer,
    fixation varchar(10),
    collection varchar(10),
    area_id varchar(100),
    project varchar(50),
    diagnosis varchar(50),
    description varchar(255),
    storage varchar(50),
    notes varchar(255)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [123]:
import csv
with open('Blocks-Grid view.csv', newline='') as f:
    next(f) #skip header row
    with open('blocks_out.csv','w', newline='') as fo:
        reader = csv.reader(f)
        writer = csv.writer(fo, delimiter=',')
        seen = set() # set for fast O(1) amortized lookup
    
        for row in reader:
            if row[0]=='' or row[1]=='':
                continue #skip rows that don't have an block_id or pat_id
            
            if row[0] in seen:  # this is a duplicate block_id entry
                row[0]='DUP-'+row[0]
                print(row[0])
            seen.add(row[0])
            if row[3]=='Present':
                row[3]=True
            if row[3]=='negative':
                row[3]=False
        
            row[8]=row[8].replace('"','') #remove " from the area_id entry
            #print(row)
            writer.writerow(row)

In [124]:
%%sql
copy blocks from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/blocks_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
1095 rows affected.

[]

In [125]:
%%sql
drop table if exists patients cascade;
create table patients(
    pat_id varchar(12),
    sex char(1),
    age real,
    race char(1),
    source varchar(20),
    date_rec date,
    blocks_temp varchar(100),
    notes varchar(255),
    project varchar(50)
);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]

In [126]:
import csv
with open('Patients-Grid view.csv', newline='') as f:
    next(f) #skip header row
    with open('patients_out.csv','w', newline='') as fo:
        reader = csv.reader(f)
        writer = csv.writer(fo, delimiter=',')
        seen=set()
        for row in reader:
            
            row_num=reader.line_num
            #print(row_num)
            #print(row[0])
            pat_id=row[0]
            sex=row[1]
            age=row[2]
            race=row[3]
            source=row[4]
            date_rec=row[5]
            blocks=row[6]
            notes=row[7]
            projects=row[8]
            if pat_id=='':
                continue #skip rows that don't have an pat_id
            if row[0] in seen:  # this is a duplicate pat_id entry
                row[0]='DUP-'+row[0]
            seen.add(row[0])
            if sex=='':
                row[1]='U'
            #if age=='':
                #row[2]=0
            if race=='':
                row[3]='U'
            if source=='':
                row[4]='BLANK'
            if blocks=='':
                row[6]='None'
            #if date_rec=='':
                #row[5]='1900-01-01' 
            if notes=='':
                row[7]="-"
            if projects=='':
                row[8]='-'
            if projects.index(""):
                projects="-"
            row=row[:9]	
            #newrow=''
            #for i in range(7):
                #newrow=	newrow+str(row[i])

            #print(row)
            #print(notes)
            #print(pat_id, sex, age, race, source, date_rec,blocks, notes,projects)
            writer.writerow(row)

In [127]:
%%sql
copy patients from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/patients_out.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3
872 rows affected.

[]

In [15]:
%%sql
copy projects (name, abbreviations, pi, speedtype, description, date_start) from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/Projects.csv' with (format CSV);

 * postgresql://borisbastian:***@localhost:5432/labdb3

DataError: (psycopg2.errors.BadCopyFileFormat) extra data after last expected column
CONTEXT:  COPY projects, line 1: "Uveal Melanoma,UM,,,,"

[SQL: copy projects (name, abbreviations, pi, speedtype, date_start) from '/Users/borisbastian/opt/anaconda3/envs/labDB2/data/Projects.csv' with (format CSV);]
(Background on this error at: http://sqlalche.me/e/9h9h)