In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
import re
%matplotlib inline

%load_ext sql

%sql postgresql://borisbastian:borisbastian@localhost:5432/labdb3

'Connected: borisbastian@labdb3'

### Connect barcodes to sample libary

In [148]:
%%sql
ALTER TABLE sample_lib
    ADD CONSTRAINT fk_barcode FOREIGN KEY (barcode_id) REFERENCES barcodes (barcode_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
(psycopg2.errors.InvalidForeignKey) there is no unique constraint matching given keys for referenced table "barcodes"

[SQL: ALTER TABLE sample_lib
    ADD CONSTRAINT fk_barcode FOREIGN KEY (barcode_id) REFERENCES barcodes (barcode_id);]
(Background on this error at: http://sqlalche.me/e/f405)

In [151]:
%%sql
SELECT sl_id, s.barcode_id, b.barcode_id
    FROM sample_lib s
    LEFT JOIN barcodes b ON b.barcode_id=s.barcode_id
    WHERE b.barcode_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
12 rows affected.

[('RLP-07', 'Dual_AD853Duplex', None),
 ('RLP-21', 'Dual_AD853Duplex', None),
 ('IRLP-001', 'Dual Index UMI Adapter 32', None),
 ('IRLP-002', 'Dual Index UMI Adapter 33', None),
 ('IRLP-003', 'Dual Index UMI Adapter 34', None),
 ('IRLP-004', 'Dual Index UMI Adapter 35', None),
 ('IRLP-005', 'Dual Index UMI Adapter 36', None),
 ('IRLP-006', 'Dual Index UMI Adapter 37', None),
 ('IRLP-007', 'Dual Index UMI Adapter 39', None),
 ('IRLP-008', 'Dual Index UMI Adapter 40', None),
 ('IRLP-009', 'Dual Index UMI Adapter 41', None),
 ('IRLP-010', 'Dual Index UMI Adapter 42', None)]

In [152]:
%%sql
UPDATE sample_lib s
SET barcode_id=b.barcode_id
FROM barcodes b
WHERE s.barcode_id = b.barcode_name;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

### Connect Patients to Blocks

In [153]:
%%sql
ALTER TABLE patients
ADD COLUMN pa_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [154]:
%%sql
ALTER TABLE blocks
ADD COLUMN patient integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [155]:
%%sql
--update new fk=patient in blocks from new serial primary key in patients
UPDATE blocks b
SET patient=p.pa_id
FROM patients p
WHERE b.pat_id=p.pat_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1095 rows affected.

[]

In [156]:

%%sql
ALTER TABLE blocks
    ADD CONSTRAINT fk_orders_pat_id FOREIGN KEY (patient) REFERENCES patients (pa_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [157]:
%%sql
select patients.source, count(*) blocks_id from blocks
join patients
on patients.pa_id=blocks.patient
group by patients.source;

 * postgresql://borisbastian:***@localhost:5432/labdb3
10 rows affected.

[('Madrid, Spain', 215),
 ('BLANK', 351),
 ('Taiwan', 54),
 ('Japan', 61),
 ('Zurich', 35),
 ('Denmark', 85),
 ('Greece', 70),
 ('Bolivia', 56),
 ('UCSF', 160),
 ('Chile', 8)]

The next query selects non matching foreign keys and primary keys and deletes the foreign key rows.

In [158]:
%%sql
SELECT areas.block_id
FROM areas
    LEFT JOIN blocks ON areas.block_id=blocks.block_id
WHERE blocks.block_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

### Fix some areas.block_id entries with duplicate ids

In [159]:
#conn.close
conn = psycopg2.connect(host="localhost", port = 5432, database="labdb3", user="borisbastian")
cursor = conn.cursor() 
query="SELECT areas.block_id FROM areas\
        LEFT JOIN blocks ON areas.block_id=blocks.block_id\
        WHERE blocks.block_id IS NULL;"
result=cursor.execute(query)
result=cursor.fetchall()

conn.commit()
#provides a list of tuples
print(result)
print("These block_id entries in Areas have no match in Blocks")
for a in result:
    # a in result is a tuple with 1 entry. That entry can have more than one elements, we only want the first
    #print("a=")
    #print(a)
    #print("b=")
    b=a[0].split(',')
    #turns first tuple element into a list
    c=b[0].replace("\n","")
    # c is the first element of that list and gets stripped of formatting stuff
    c=c.strip('"')
    #strip all formating
    #print(b[0])
    #print('this was b[0]')
    print(len(b))
    if len(b)>1:
        query="UPDATE areas SET block_id=%s WHERE block_id = %s;" 
        #print(query)
        result=cursor.execute(query,(c,a))
        print(str(cursor.rowcount)+' rows from Areas updated from ')
        print(a)
        print('to:')
        print(c)
    
        conn.commit()
    else:
        query="DELETE FROM areas WHERE block_id = %s;" 
        result=cursor.execute(query,a)
        conn.commit()
        print(cursor.rowcount)
        print(' rows were deleted from Areas ')

[]
These block_id entries in Areas have no match in Blocks

In [160]:
%%sql
DELETE FROM areas 
USING (
    SELECT areas.block_id
    FROM areas 
    LEFT JOIN blocks ON areas.block_id = blocks.block_id
    WHERE blocks.block_id IS NULL
    ) nonmatch WHERE nonmatch.block_id=areas.block_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

### Connect Blocks and Areas

In [161]:
%%sql
ALTER TABLE blocks
ADD COLUMN bl_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [162]:
%%sql
ALTER TABLE areas
ADD COLUMN block integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [163]:
%%sql
--update new fk=patient in areas from new serial primary key bl_id in blocks
UPDATE areas a
SET block=b.bl_id
FROM blocks b
WHERE a.block_id=b.block_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1214 rows affected.

[]

In [164]:
%%sql
ALTER TABLE areas
    ADD CONSTRAINT fk_block FOREIGN KEY (block) REFERENCES blocks (bl_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

### Connect  Areas and Nuc_acids

In [165]:
%%sql
ALTER TABLE areas
ADD COLUMN ar_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [166]:
%%sql
ALTER TABLE nuc_acids
ADD COLUMN area integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [167]:
%%sql
--update new fk=area in nuc_acides from new serial primary key ar_id in areas
UPDATE nuc_acids n
SET area=a.ar_id
FROM areas a
WHERE n.area_id=a.area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1263 rows affected.

[]

In [168]:
%%sql
ALTER TABLE nuc_acids
    ADD CONSTRAINT fk_area FOREIGN KEY (area) REFERENCES areas (ar_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [169]:
%%sql
SELECT nuc_acids.area_id
FROM nuc_acids
    LEFT JOIN areas ON nuc_acids.area_id=areas.area_id
WHERE areas.area_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
2 rows affected.

[('799 Mel',), ('800 Nevus',)]

In [170]:
%%sql
SELECT area_id FROM areas
WHERE area_ID ILIKE('799%')

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

In [171]:
%%sql
DELETE FROM nuc_acids 
USING (
    SELECT nuc_acids.area_id
    FROM nuc_acids 
    LEFT JOIN areas ON nuc_acids.area_id = areas.area_id
    WHERE areas.area_id IS NULL
    ) nonmatch WHERE nonmatch.area_id=nuc_acids.area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
2 rows affected.

[]

### Connect nucleic acids to sample library table

In [172]:
%%sql
ALTER TABLE nuc_acids
ADD COLUMN nu_id SERIAL PRIMARY KEY;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [173]:
%%sql
ALTER TABLE sample_lib
ADD COLUMN nuc_acid integer;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [174]:
%%sql
--update new fk=nuc_acid in sample_lib from new serial primary key nu_id in nuc_acids
UPDATE sample_lib s
SET nuc_acid=n.nu_id
FROM nuc_acids n
WHERE n.na_id=s.na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1105 rows affected.

[]

In [175]:
%%sql
ALTER TABLE sample_lib
    ADD CONSTRAINT fk_nuc_acid FOREIGN KEY (nuc_acid) REFERENCES nuc_acids (nu_id);

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [176]:
%%sql 
SELECT nuc_acid
FROM sample_lib s
    LEFT JOIN nuc_acids n ON s.na_id=n.na_id
WHERE n.na_id IS NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1 rows affected.

[(None,)]

In [177]:
%%sql
DELETE FROM sample_lib 
USING (
    SELECT sample_lib.na_id
    FROM sample_lib 
    LEFT JOIN nuc_acids ON sample_lib.na_id=nuc_acids.na_id
    WHERE nuc_acids.na_id IS NULL
    ) nonmatch WHERE nonmatch.na_id=sample_lib.na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1 rows affected.

[]

### Make linking table for many to many relation btw sample library and captured library

In [178]:
%%sql
ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_sample_lib FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id) ON UPDATE CASCADE;

 * postgresql://borisbastian:***@localhost:5432/labdb3
(psycopg2.errors.InvalidForeignKey) there is no unique constraint matching given keys for referenced table "sample_lib"

[SQL: ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_sample_lib FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id) ON UPDATE CASCADE;]
(Background on this error at: http://sqlalche.me/e/f405)

In [179]:
%%sql
ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_captured_lib FOREIGN KEY (cl_id) REFERENCES captured_lib (cl_id) ON UPDATE CASCADE;

 * postgresql://borisbastian:***@localhost:5432/labdb3
(psycopg2.errors.InvalidForeignKey) there is no unique constraint matching given keys for referenced table "captured_lib"

[SQL: ALTER TABLE sl_cl_link
    ADD CONSTRAINT fk_captured_lib FOREIGN KEY (cl_id) REFERENCES captured_lib (cl_id) ON UPDATE CASCADE;]
(Background on this error at: http://sqlalche.me/e/f405)

In [25]:
%%sql
ALTER TABLE sample_variants
    DROP CONSTRAINT sample_variants_pkey;

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

### Check whether there are any duplicate imports in sample variants 
(i.e. rows that have same variant from same sample library, sequencing run and analysis job

In [46]:
%%sql
SELECT s_var_id
    FROM 
(SELECT s_var_id,
         ROW_NUMBER() OVER (PARTITION BY g_var_id,sl_id, seq_run, job
        ORDER BY  s_var_id ) AS row_num
        FROM sample_variants) t
        WHERE t.row_num > 1;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.

[]

### Connect sample_variants to qc

In [47]:
%%sql
ALTER TABLE qc DROP CONSTRAINT qc_pkey;
ALTER TABLE qc
    ADD CONSTRAINT qc_pkey PRIMARY KEY (sl_id, seq_run);

 * postgresql://boris:***@localhost:5432/boris
(psycopg2.errors.UndefinedObject) constraint "qc_pkey" of relation "qc" does not exist

[SQL: ALTER TABLE qc DROP CONSTRAINT qc_pkey;]
(Background on this error at: http://sqlalche.me/e/f405)

In [48]:
%%sql test <<
SELECT s_var_id, sample_variants.sl_id
FROM sample_variants
    LEFT JOIN qc ON sample_variants.sl_id=qc.sl_id 
                AND sample_variants.seq_run=qc.seq_run 
                AND sample_variants.job=qc.job
WHERE qc.job IS NULL;

 * postgresql://boris:***@localhost:5432/boris
15998 rows affected.
Returning data to local variable test

In [49]:
%%sql test <<
SELECT s_var_id, sample_variants.sl_id
FROM sample_variants
    LEFT JOIN qc ON sample_variants.sl_id=qc.sl_id 
                AND sample_variants.seq_run=qc.seq_run 
        
WHERE qc.sl_id IS NULL 
AND qc.seq_run IS NULL;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.
Returning data to local variable test

In [50]:
%%sql
ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id, seq_run) REFERENCES qc (sl_id, seq_run);

 * postgresql://boris:***@localhost:5432/boris
(psycopg2.errors.DuplicateObject) constraint "fk_sample_variants" for relation "sample_variants" already exists

[SQL: ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id, seq_run) REFERENCES qc (sl_id, seq_run);]
(Background on this error at: http://sqlalche.me/e/f405)

### Connect sample library to sample variants
1. Identify and delete  entries in sample_variants that don't have a link in sample_lib
2. Make the relationship

In [51]:
%%sql
SELECT DISTINCT sample_variants.sl_id
FROM sample_variants
    LEFT JOIN sample_lib ON sample_variants.sl_id=sample_lib.sl_id
WHERE sample_lib.sl_id IS NULL;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.

[]

In [52]:
%%sql
DELETE FROM sample_variants 
USING (
    SELECT sample_variants.sl_id
    FROM sample_variants 
    LEFT JOIN sample_lib ON sample_variants.sl_id=sample_lib.sl_id
    WHERE sample_lib.sl_id IS NULL
    ) nonmatch WHERE nonmatch.sl_id=sample_variants.sl_id;

 * postgresql://boris:***@localhost:5432/boris
0 rows affected.

[]

In [53]:
%%sql
ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id);

 * postgresql://boris:***@localhost:5432/boris
(psycopg2.errors.DuplicateObject) constraint "fk_sample_variants" for relation "sample_variants" already exists

[SQL: ALTER TABLE sample_variants
    ADD CONSTRAINT fk_sample_variants FOREIGN KEY (sl_id) REFERENCES sample_lib (sl_id);]
(Background on this error at: http://sqlalche.me/e/f405)

### Connect Captured_lib to Seq_run via linking table sq_cl_link

In [2]:
%%sql
--remove duplicate sq_id values from seq_run table
--step 1
DROP TABLE IF EXISTS seq_run_temp;
CREATE TABLE seq_run_temp (LIKE seq_run);
-- step 2
INSERT INTO seq_run_temp (sq_id,date,facility,machine,pe)
SELECT 
    DISTINCT ON (sq_id) sq_id,date,facility,machine,pe
FROM seq_run; 

-- step 3
DROP TABLE seq_run;

-- step 4
ALTER TABLE seq_run_temp 
RENAME TO seq_run;

 * postgresql://boris:***@localhost:5432/boris
Done.
Done.
23 rows affected.
Done.
Done.

[]

In [3]:
%%sql
ALTER TABLE seq_run
    ADD CONSTRAINT pk_seq_run PRIMARY KEY (sq_id);

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

In [5]:
%%sql
ALTER TABLE sq_cl_link
    ADD CONSTRAINT fk_seq_run FOREIGN KEY (sq_id) REFERENCES seq_run (sq_id);

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

In [6]:
%%sql
ALTER TABLE sq_cl_link
    ADD CONSTRAINT fk_captured_lib FOREIGN KEY (cl_id) REFERENCES captured_lib (cl_id);

 * postgresql://boris:***@localhost:5432/boris
Done.

[]

### Clean up tables and drop unnecessary rows

In [137]:
%%sql
ALTER TABLE captured_lib
DROP COLUMN IF EXISTS sl_id,
DROP COLUMN IF EXISTS sample_n,
DROP COLUMN IF EXISTS area_id,
DROP COLUMN IF EXISTS project_update;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [138]:
%%sql
ALTER TABLE sample_lib
DROP COLUMN IF EXISTS block_id,
DROP COLUMN IF EXISTS patient_id,
DROP COLUMN IF EXISTS area_id,
DROP COLUMN IF EXISTS seq_run_id,
DROP COLUMN IF EXISTS tissue_type,
DROP COLUMN IF EXISTS capt_panel,
DROP COLUMN IF EXISTS cl_id,
DROP COLUMN IF EXISTS age,
DROP COLUMN IF EXISTS pat_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [139]:
%%sql
ALTER TABLE nuc_acids
DROP COLUMN IF EXISTS sl_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [140]:
%%sql
ALTER TABLE areas
DROP COLUMN IF EXISTS na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [141]:
%%sql
ALTER TABLE blocks
DROP COLUMN IF EXISTS sl_id,
DROP COLUMN IF EXISTS area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

### Move data between tables

In [180]:
%%sql
--This moves the collection method from blocks to areas and then drops the field from blocks
UPDATE areas
SET collection = blocks.collection 
FROM blocks 
WHERE areas.collection IS NULL AND blocks.collection IS NOT NULL;

ALTER TABLE blocks 
DROP COLUMN IF EXISTS collection;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1096 rows affected.
Done.

[]

In [181]:
%%sql
SELECT diagnosis, description FROM blocks
WHERE diagnosis IS NOT NULL AND description IS NOT NULL;

 * postgresql://borisbastian:***@localhost:5432/labdb3
0 rows affected.

[]

In [182]:
%%sql
--move the description to the diagnosis
UPDATE blocks
SET diagnosis = description
WHERE diagnosis IS NULL AND description IS NOT NULL;
--Drop description
ALTER TABLE blocks 
DROP COLUMN IF EXISTS description;

 * postgresql://borisbastian:***@localhost:5432/labdb3
76 rows affected.
Done.

[]

In [183]:
%%sql
ALTER TABLE blocks
ADD COLUMN receive date;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.

[]

In [184]:
%%sql
--move the date received entry in patients to the blocks table and drop field from patients
UPDATE blocks
SET receive = patients.date_rec
FROM patients
WHERE blocks.pat_id=patients.pat_id;
ALTER TABLE patients 
DROP COLUMN IF EXISTS date_rec;

 * postgresql://borisbastian:***@localhost:5432/labdb3
1095 rows affected.
Done.

[]

In [185]:
%%sql
ALTER TABLE blocks 
RENAME COLUMN block_id TO old_block_id;
ALTER TABLE areas 
RENAME COLUMN area_id TO old_area_id;
ALTER TABLE nuc_acids 
RENAME COLUMN na_id TO old_na_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.
Done.

[]

In [186]:
%%sql
ALTER TABLE areas 
RENAME COLUMN block_id TO old_block_id;
ALTER TABLE nuc_acids 
RENAME COLUMN area_id TO old_area_id;

 * postgresql://borisbastian:***@localhost:5432/labdb3
Done.
Done.

[]